<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	
	<?include Config.wxi?>
	<?define Version=1.0.0.0 ?>
	
	<Product Id="*"
			 UpgradeCode="$(var.UpgradeCode)"
			 Name="$(var.ProductName) $(var.Version)"
			 Manufacturer="$(var.Manufacturer)"
			 Version="$(var.Version)" Language="1033">
		<Package InstallerVersion="200" Compressed="yes" Description="$(var.ProductName)" InstallScope="perMachine" />

		<MajorUpgrade AllowDowngrades="yes" Schedule="afterInstallValidate"/>
		<MediaTemplate EmbedCab="yes" />

		<!--<Icon Id="leela.ico" SourceFile="$(var.SolutionDir)leela.ico" />-->
		
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id='ProgramMenuFolder' Name='ProgramMenuFolder'>
				<Directory Id='ProgramGroup' Name='leela'/>
			</Directory>
			<!--<Directory Id="DesktopFolder" />-->
			
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="$(var.InstallName)">
					<Component Id="AppFolder" Guid="{fe15b9bd-b9be-47b0-ac66-2b71a40693ff}">
						<CreateFolder/>
						<RemoveFile Id="PurgeAppFolder" Name="*.*" On="uninstall" />
					</Component>
					
					<Component Id="leela" Guid="{baf8541c-0dee-4957-ada6-0c95d54b5ccf}">
						<File Source="$(var.leela.TargetPath)"></File>
						<File Source="$(var.SolutionDir)external\glew-2.1.0\bin\Release\Win32\glew32.dll"></File>
						<File Source="$(var.SolutionDir)external\SDL2-2.0.10\libs\SDL2.dll"></File>
						<File Source="$(var.SolutionDir)leela.ico"></File>
					</Component>
					<Directory Id="shaders" Name="shaders" />
					<Directory Id="textures" Name="textures" />
					<Directory Id="fonts" Name="fonts" />

				</Directory>
			</Directory>
		</Directory>

		<!-- Add the shortcut to your installer package -->
		<DirectoryRef Id="ProgramGroup">
			<Component Id='ApplicationShortcut' Guid='{6b793f5d-e619-40ce-b648-7a1d198fec37}'>
				<Shortcut Id='LaunchShortcut' Name='leela' Description='leela Simulation' Target='[INSTALLFOLDER]$(var.leela.TargetFileName)' WorkingDirectory='INSTALLFOLDER' />
				<Shortcut Id="UninstallProduct" Name="Uninstall leela" Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]" Description="Uninstalls leela" />
				<RemoveFolder Id='ProgramGroup' On='uninstall'/>
				<RegistryValue Root='HKCU' Key='SOFTWARE\leela' Name='installed' Type='integer' Value='1' KeyPath='yes' />
			</Component>
		</DirectoryRef>

		


		<DirectoryRef Id="shaders">
			<Component Id="shaders_planet.frag.glsl" Guid="*">
				<File Id="shaders_planet.frag.glsl" Source="$(var.leela.ProjectDir)shaders\planet.frag.glsl" KeyPath="yes"></File>
			</Component>
			<Component Id="shaders_planet.vert.glsl" Guid="*">
				<File Id="shaders_planet.vert.glsl" Source="$(var.leela.ProjectDir)shaders\planet.vert.glsl" KeyPath="yes"></File>
			</Component>
			<Component Id="shaders_star.frag.glsl" Guid="*">
				<File Id="shaders_star.frag.glsl" Source="$(var.leela.ProjectDir)shaders\star.frag.glsl" KeyPath="yes"></File>
			</Component>
			<Component Id="shaders_star.vert.glsl" Guid="*">
				<File Id="shaders_star.vert.glsl" Source="$(var.leela.ProjectDir)shaders\star.vert.glsl" KeyPath="yes"></File>
			</Component>
			<Component Id="shaders_sun.frag.glsl" Guid="*">
				<File Id="shaders_sun.frag.glsl" Source="$(var.leela.ProjectDir)shaders\sun.frag.glsl" KeyPath="yes"></File>
			</Component>
			<Component Id="shaders_sun.vert.glsl" Guid="*">
				<File Id="shaders_sun.vert.glsl" Source="$(var.leela.ProjectDir)shaders\sun.vert.glsl" KeyPath="yes"></File>
			</Component>
			<Component Id="shaders_simple.frag.glsl" Guid="*">
				<File Id="shaders_simple.frag.glsl" Source="$(var.leela.ProjectDir)shaders\simple.frag.glsl" KeyPath="yes"></File>
			</Component>
			<Component Id="shaders_simple.vert.glsl" Guid="*">
				<File Id="shaders_simple.vert.glsl" Source="$(var.leela.ProjectDir)shaders\simple.vert.glsl" KeyPath="yes"></File>
			</Component>
		</DirectoryRef>




		<DirectoryRef Id="textures">
			<Component Id="textures_cat1.png" Guid="*">
				<File Id="textures_cat1.png" Source="$(var.leela.ProjectDir)textures\cat1.png" KeyPath="yes"></File>
			</Component>
			<Component Id="textures_earth_erde_mit_wolken_2k.png" Guid="*">
				<File Id="textures_earth_erde_mit_wolken_2k.png" Source="$(var.leela.ProjectDir)textures\earth-erde-mit-wolken-2k.png" KeyPath="yes"></File>
			</Component>
			<Component Id="textures_earthmap1k.png" Guid="*">
				<File Id="textures_earthmap1k.png" Source="$(var.leela.ProjectDir)textures\earthmap1k.png" KeyPath="yes"></File>
			</Component>
			<Component Id="textures_Map_World_23_10.jpg" Guid="*">
				<File Id="textures_Map_World_23_10.jpg" Source="$(var.leela.ProjectDir)textures\Map-World_23_10.jpg" KeyPath="yes"></File>
			</Component>
			<Component Id="textures_Map_World_23_10.png" Guid="*">
				<File Id="textures_Map_World_23_10.png" Source="$(var.leela.ProjectDir)textures\Map-World_23_10.png" KeyPath="yes"></File>
			</Component>
			<Component Id="textures_Map_World_23_100.jpg" Guid="*">
				<File Id="textures_Map_World_23_100.jpg" Source="$(var.leela.ProjectDir)textures\Map-World_23_100.jpg" KeyPath="yes"></File>
			</Component>
			<Component Id="textures_moonmap1k.png" Guid="*">
				<File Id="textures_moonmap1k.png" Source="$(var.leela.ProjectDir)textures\moonmap1k.png" KeyPath="yes"></File>
			</Component>
			<Component Id="textures_sunmap.png" Guid="*">
				<File Id="textures_sunmap.png" Source="$(var.leela.ProjectDir)textures\sunmap.png" KeyPath="yes"></File>
			</Component>
		</DirectoryRef>


		<DirectoryRef Id="fonts">
			<Component Id="fonts_Cousine_Regular.ttf" Guid="*">
				<File Id="fonts_Cousine_Regular.ttf" Source="$(var.SolutionDir)external\fonts\Cousine-Regular.ttf" KeyPath="yes"></File>
			</Component>
			<Component Id="fonts_DroidSans.ttf">
				<File Id="fonts_DroidSans.ttf" Source="$(var.SolutionDir)external\fonts\DroidSans.ttf" KeyPath="yes"></File>
			</Component>
			<Component Id="fonts_Karla_Regular.ttf">
				<File Id="fonts_Karla_Regular.ttf" Source="$(var.SolutionDir)external\fonts\Karla-Regular.ttf" KeyPath="yes"></File>
			</Component>
			<Component Id="fonts_ProggyClean.ttf">
				<File Id="fonts_ProggyClean.ttf" Source="$(var.SolutionDir)external\fonts\ProggyClean.ttf" KeyPath="yes"></File>
			</Component>
			<Component Id="fonts_ProggyTiny.ttf">
				<File Id="fonts_ProggyTiny.ttf" Source="$(var.SolutionDir)external\fonts\ProggyTiny.ttf" KeyPath="yes"></File>
			</Component>
			<Component Id="font_Roboto_Medium.ttf">
				<File Id="font_Roboto_Medium.ttf" Source="$(var.SolutionDir)external\fonts\Roboto-Medium.ttf" KeyPath="yes"></File>
			</Component>
		</DirectoryRef>



		<Feature Id="ProductFeature" Level="1" Title="leela">
			<!--<ComponentRef Id="gitextensions.ico"/>-->
			<ComponentRef Id="AppFolder"/>
			<ComponentRef Id="leela"/>
			<ComponentRef Id="ApplicationShortcut"/>

			<!-- Shaders -->
			<ComponentRef Id="shaders_planet.frag.glsl"/>
			<ComponentRef Id="shaders_planet.vert.glsl"/>
			<ComponentRef Id="shaders_star.frag.glsl"/>
			<ComponentRef Id="shaders_star.vert.glsl"/>
			<ComponentRef Id="shaders_sun.frag.glsl"/>
			<ComponentRef Id="shaders_sun.vert.glsl"/>
			<ComponentRef Id="shaders_simple.frag.glsl"/>
			<ComponentRef Id="shaders_simple.vert.glsl"/>


			<!-- Textures -->
			<ComponentRef Id="textures_cat1.png"/>
			<ComponentRef Id="textures_earth_erde_mit_wolken_2k.png"/>
			<ComponentRef Id="textures_earthmap1k.png"/>
			<ComponentRef Id="textures_Map_World_23_10.jpg"/>
			<ComponentRef Id="textures_Map_World_23_10.png"/>
			<ComponentRef Id="textures_Map_World_23_100.jpg"/>
			<ComponentRef Id="textures_moonmap1k.png"/>
			<ComponentRef Id="textures_sunmap.png"/>

			<!-- Fonts -->
			<ComponentRef Id="fonts_Cousine_Regular.ttf"/>
			<ComponentRef Id="fonts_DroidSans.ttf"/>
			<ComponentRef Id="fonts_Karla_Regular.ttf"/>
			<ComponentRef Id="fonts_ProggyClean.ttf"/>
			<ComponentRef Id="fonts_ProggyTiny.ttf"/>
			<ComponentRef Id="font_Roboto_Medium.ttf"/>
		</Feature>

	</Product>
</Wix>
